.Contenido {
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    
    float: left;
    .Carta {
       height: 750px;
      

    @media (max-width: 395px) {
        width: 97%;
        height: 600px;
    }

    @media (max-width: 595px) {
        width: 97%;
        height: 600px;

    }

    @media (max-width: 900px) {
        width: 200px;
    }

    @media (max-width: 300px) {
        width: 97%;
        height: 640px;

    }

       
    }

    .Img {
        width: 400px;
    }
}